<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Influenza Tracker</title>
  <link rel="icon" href="../static/src/assets/favicon.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <!-- Link to CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>


<body>

  
<!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">Influenza Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" 
    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Centers nav-items -->
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">About</a>
        </li> 
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Explore</a>
          <div class="dropdown-menu">
            <a href="/predictor_map.html" class="dropdown-item">Influenza Patients Per State Map</a>
            <a href="/predictor_map.html#viz1564945152043" class="dropdown-item">Influenza Mortality Per State Map</a>
            <a href="/predictor_map.html" class="dropdown-item">Influenza Patient Age Chart</a>
            <a href="/weekly_predictor.html" class="dropdown-item">Weekly Influenza Predictor</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Resources</a>
          <div class="dropdown-menu">
            <a href="/cdc_data.html" class="dropdown-item">CDC Data</a>
            <a href="/google_trends.html" class="dropdown-item">Google Trends Data</a>
            <a href="/studies.html" class="dropdown-item">Similar Studies</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/contact.html" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
    
  


  <br><br><br><br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 blurbLeft">
        <br><br><br><br>
        <!-- start slipsum code -->
        <p><FONT Size="3">Here is a collection of maps created with a combination of the CDC and ILINet data. 
        Each map visualizes a deeper breakdown of this data showing influenza like illnesses in each state, the rates of mortalitly from influenza per state, 
        as well as the rate that different age groups are effected by influenza throughout the country. Click each photo to dive deeper into the data.</FONT></p> 
      </div>
      <div class="col-md-5 picturesRight">
        <div class="container-fluid col-md-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/predictor_map.html">
                <img class="d-block w-100" src="../static/src/assets/influenzapercentsmap.png" alt="First slide">
                <div class="carousel-caption d-block">
                  <h2>Influenza Patients Per State Map</h2>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href="/predictor_map.html">
                <img class="d-block w-100" href="predictor_map.html" src="../static/src/assets/influenzamortalitymap.png" alt="Second slide">
                <div class="carousel-caption d-block">
                  <h2>Influenza Mortality Per State Map</h2>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href="/predictor_map.html">
                <img class="d-block w-100" src="../static/src/assets/influenzaagechart.png" alt="Third slide">
                <div class="carousel-caption d-block">
                  <h2>Influenza Patient Age Map</h2>
                </div>
              </a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

    <br><br><br><br>
    <hr>
    <br><br><br><br>

    <div class="row">
      <div class="col-md-5 picturesLeft">
        <div class="container-fluid col-md-12">
          <div class="card-list visualizations" style="align-content: center">
            <div class="flourishHover clickableImg">
              <h3><center>Weekly Influenza Predictor</center></h3>
              <a href="#"><img src="../static/src/assets/Influenza-3d-virus-1510-464x272.png" class="img-fluid img-responsive" align="left"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 blurbRight">
        <br><br><br><br>
        <p><FONT Size="3">In this section we explored with different models of Machine Learning to try and predict weekly how many patients around the nation 
          will need aid for Influenza-Like Illness. There are many models we tried, all with varied results. Gradient Boosting Regression became our most successful model
          so we dove a little farther into the data to see how our predictions did!
        </FONT></p>
      </div>
    </div>

    <br><br><br><br>
    <hr>
    <br><br><br><br>

    <div class="row">
      <div class="col-md-7 blurbLeft">
        <br><br><br><br>
        <!-- start slipsum code -->
        <p><FONT Size="3">From here is where we got the idea to begin this project in the first place.
          All of these previous studies were in one way or another implemented throughout our trails and tribulations.
          Whereas they had more access to data, we had access to some of their cleaner data, saving us a lot of work. 
          However, this goal is extremely hard to predict due to so many other outside factors that we lack data on.
        </FONT></p>
        <!-- end slipsum code -->
      </div>
      <div class="col-md-5 picturesRight">
        <div class="container-fluid col-md-12">
          <div class="card-list visualizations" style="align-content: center">
            <div class="flourishHover clickableImg">
              <h3><center>Similar Studies</center></h3>
              <a href="/studies.html"><img src="../static/src/assets/vacuna influenza.png" class="img-fluid img-responsive" align="right"></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br>
    <br><br><br><br>


  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

  <script>
    window.sr = ScrollReveal({ duration : 1000 });
    sr.reveal('.site-content .d-flex');
    sr.reveal('.section-1 .card');
    sr.reveal('.section-2 .d-flex');
    sr.reveal('.section-3 .col-md-4');
    sr.reveal('.section-4 .col-md-7, .col-md-5');
  </script>

</body>


</html>