<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Influenza Tracker</title>
  <link rel="icon" href="../static/src/assets/favicon.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <!-- Link to CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>


<body>

  
<!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">Influenza Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" 
    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Centers nav-items -->
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">About</a>
        </li> 
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Explore</a>
          <div class="dropdown-menu">
            <a href="/predictor_map.html" class="dropdown-item">Influenza Patients Per State Map</a>
            <a href="/predictor_map.html#viz1564945152043" class="dropdown-item">Influenza Mortality Per State Map</a>
            <a href="/predictor_map.html" class="dropdown-item">Influenza Patient Age Chart</a>
            <a href="/weekly_predictor.html" class="dropdown-item">Weekly Influenza Predictor</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Resources</a>
          <div class="dropdown-menu">
            <a href="/cdc_data.html" class="dropdown-item">CDC Data</a>
            <a href="/google_trends.html" class="dropdown-item">Google Trends Data</a>
            <a href="/studies.html" class="dropdown-item">Similar Studies</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/contact.html" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

<!--- Title -->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Similar Studies</h1>
      <hr>
    </div>
  </div>
</div>



<!--- Cards -->
<div class="container-fluid padding">
    <div class="row padding align-content-center">
      <div class="col-md-4 text-center">
        <div class="card border border-secondary rounded-0">
          <!-- crd-img-top: image at the top rather than the middle -->
          <img class="card-img-top" src="../static/src/assets/study_1.png" alt="Study 1">
          <br>
          <div class="card-body container-fluid">
            <p class="card-text">By using 317 weeks of publicly available data
                from Instagram, this study trained several machine learning algorithms
                to both nowcast and forecast the number of official influenzalike illness incidents in Finland where population-wide official
                statistics about the weekly incidents are available.</p>
            <br><br><br><br>
            <a href="https://arxiv.org/pdf/1811.10949" class="btn btn-outline-info">View Research</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="card border border-secondary rounded-0">
          <img class="card-img-top" src="../static/src/assets/study_2.png" alt="Study 2">
          <br>
          <div class="card-body container-fluid">
            <p class="card-text">The goal of the analysis discussed in this paper was to build effective influenza prediction models using random forest and other machine learning
                techniques. They combine CDC surveillance and Wikipedia search information to predict targets considered in the influenza prediction challenges
                coordinated by the Influenza Division at the Centers for Disease Control and
                Prevention with machine learning techniques. Finally, they test each model by
                making predictions on the 2016-17 flu season.</p>
            <a href="http://www.jarad.me/research/thesis/KatieWill_CC.pdf" class="btn btn-outline-info">View Research</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="card border border-secondary rounded-0">
          <img class="card-img-top" src="../static/src/assets/study_3.png" alt="Study 3">
          <br>
          <div class="card-body container-fluid">
            <p class="card-text">This study extends a method originally designed to track flu using Google searches, named ARGO, to combine
                information from EHR and Internet searches with historical flu activities. Their regularized multivariate regression model
                dynamically selects the most appropriate variables for flu prediction every week. The model is assessed for the flu
                seasons within the time period 2013–2016 using multiple metrics including root mean squared error (RMSE).</p>
            <br>
            <a href="https://bmcinfectdis.biomedcentral.com/track/pdf/10.1186/s12879-017-2424-7" class="btn btn-outline-info">View Research</a>
          </div>
        </div>
      </div>
    </div>
  </div>





  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

  <script>
    window.sr = ScrollReveal({ duration : 1000 });
    sr.reveal('.site-content .d-flex');
    sr.reveal('.section-1 .card');
    sr.reveal('.section-2 .d-flex');
    sr.reveal('.section-3 .col-md-4');
    sr.reveal('.section-4 .col-md-7, .col-md-5');
  </script>

</body>


</html>