/* ADDS GOOGLE FONT */
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap');

body {
  padding: 0%;
  margin: 0%;
  font-family: 'Lato';
  background: rgb(255, 255, 255);
}
/* NAVBAR */
.navbar-nav > li{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.navbar-brand {
  font-family: 'Righteous';
  font-size: 35px;
  color: rgb(255, 255, 255) !important;
  transition: all 0.5s ease-in;
  padding-left: 15px;
}
.navbar-brand:hover {
  color: rgb(234, 131, 255) !important;
}
.nav-link {
  font-size: 16px;
  margin: 15px;
  color: rgb(255, 255, 255) !important;
  font-family: 'Roboto Condensed';
  transition: all 0.5s ease-in;
}
.nav-link:hover {
  color: rgb(234, 131, 255) !important;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-toggler {
  margin-right: 30px;
  background-color: rgb(234, 131, 255);
}
.navbar {
  background: #2D0A72;
  background: -moz-linear-gradient(left, #2D0A72 0%, rgb(92, 42, 207) 100%);
  background: -webkit-linear-gradient(left, #2D0A72 0%, rgb(92, 42, 207) 100%);
  background: linear-gradient(to right, #2D0A72 0%, rgb(92, 42, 207) 100%);
}


.container-fluid {
  padding-left: 7%;
  padding-right: 7%;
}



.carousel {
  width:110%;
  height:110%;
}

/* predictor_map PAGE */
/* Tableau ILI Patients Per State Map */
.tableauPlaceholder {
  padding-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
  width: 60%;
}



/* google_trends PAGE */
h1 {
  padding-top: 1%;
  font-family: 'Righteous';
  color: rgb(109, 64, 216) !important;
  text-shadow: 1px 2px 2px rgb(234, 131, 255);
}
h2 {
  padding-top: 10px;
}
hr {
  width: 50%;
  align-content: center;
  border-top: 2px solid #8f8f8f;
}
.card{
  border: white;
}
p {
  align-content: center;
  padding: 100px;
}

.btn-outline-info {
  color: #2D0A72;
  border-color: rgb(109, 64, 216);
}
.btn {
  align-content: center;
}
.btn:hover {
  background-color: #2D0A72;
  border-color: rgb(109, 64, 216);
  color: rgb(234, 131, 255);
}